# ---------- PostgreSQL ----------
POSTGRES_DB=techcellshop
POSTGRES_USER=techcellshop
POSTGRES_PASSWORD=change_me_postgres_password

# ---------- RabbitMQ ----------
RABBITMQ_USER=techcellshop_rmq
RABBITMQ_PASSWORD=change_me_rabbit_password
RABBITMQ_VHOST=/techcellshop

# ---------- App / JWT ----------
JWT_SECRET=change_me_long_base64_or_random_secret
JWT_EXPIRATION_MS=3600000

# ---------- pgAdmin ----------
PGADMIN_EMAIL=admin@techcellshop.local
PGADMIN_PASSWORD=change_me_pgadmin_password